.home-header{
    color: white;
    position: fixed;
    width: 100%;
    min-width: 1000px;
    z-index: 99;
}

.home-header__top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #131921;
    height: 60px;
    padding: 0 20px;
}
.home-header__location{
    display: flex;
    min-width: 160px;
}
.home-header__location-icon{
    margin-right: 5px;
    margin-top: 9px;
}
.home-header__location-text{
    display: flex;
    flex-direction: column;
}


.home-header__search-form{
    width: 60%;
    position: relative;
    padding: 0 20px;
    box-sizing: border-box;
}
.home-header__search-input{
    height: 40px;
    border: none;
    border-radius: 5px;
    padding-left: 5px;
    width: 95%;
}
.home-header__search-button{
    border: none;
    width: 45px;
    height: 42px;
    border-radius: 5px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: #FEBD69;
    position: absolute;
    right: 4%;
}

.home-header__account,
.home-header__orders{
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    box-sizing: border-box;
}
.home-header__account{
    min-width: 150px;
}
.home-header__orders{
    min-width: 100px;
}
.home-header__location-deliver,
.home-header__account-greeting,
.home-header__orders-returns{
    font-size: 10px;
    color: hsl(0, 0%, 75%);
}

.home-header__location-country,
.home-header__account-lists,
.home-header__orders-orders,
.home-header__cart-text{
    font-size: 15px;
}

.home-header__account-lists i{
    color: hsl(0, 0%, 75%);
    margin-left: 2px;
}

.home-header__cart{
    padding: 0 10px;
    display: flex;
    align-items: center;
}
.home-header__cart-icon{
    position: relative;
    margin-right: 3px;
}
.home-header__cart-count{
    position: absolute;
    color: orange;
    font-size: 20px;
    top: -10px;
    right: 5px;
    font-weight: 700;
}
.home-header__cart-text{
    margin-top: 10px;
}


.home-header__nav{
    background-color: #232F3E;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    padding: 0 20px;
}
.home-header__nav-list{
    margin: 0;
    display: flex;
}

.home-header__nav-item{
    margin-right: 18px;
}